* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    width: 100%;
    max-width: 100%;
}

.container-top-main {
    margin-bottom: 20px;
}

.container-central-main {
    margin-bottom: 20px;
}

.container-bottom-main {
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



/* COL WIDTH , MAX WIDTH , HEIGHT*/

.col-1 {
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
    height: 35px;
}

.col-2 {
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
    height: 35px;
}

.col-3 {
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
    height: 35px;
}

.col-4 {
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    height: 35px;
}

.col-5 {
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
    height: 35px;
}

.col-6 {
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
    height: 35px;
}

.col-7 {
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
    height: 35px;
}

.col-8 {
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
    height: 35px;
}

.col-9 {
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
    height: 35px;
}

.col-10 {
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
    height: 35px;
}

.col-11 {
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 1)1;
    height: 35px;
}

.col-12 {
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    height: 35px;
}


/*OFFSETS*/

.col-offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.col-offset-12 {
    margin-left: calc((100% / 12) * 12);
}



/*NASTED COL*/


.col-higher {
    height: 60px;
}

.col-higher .row {
    padding-top: 12px;
}

.col-2-nested {
    width: calc((90% / 12) * 2);
    max-width: calc((90% / 12) * 2);
    height: 35px;
}

.col-8-nested {
    width: calc((90% / 12) * 8);
    max-width: calc((90% / 12) * 8);
    height: 35px;
}

.col-6-nasted {
    width: calc((90% / 12) * 6);
    max-width: calc((90% / 12) * 6);
    height: 35px;
}