html {
    color: white;
}

[class*="col-"] {

    background-color: rgb(18, 127, 230);
    border: 1px solid white;
    text-align: center;
    line-height: 2em;
}

h3 {
    color: black;
    margin: 10px 0;
}

.col-2-nested , .col-8-nested , .col-6-nasted {
    background-color: rgb(74, 235, 74);
    border-color: rgb(18, 127, 230);
}



